body,html,p,div,a,span,ul,li,ol{
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	width: 100%;
	height: auto;
}
.clearlr:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.clearlr{
	zoom: 1;
}




/*<!--		顶部-->*/
header{
	background: #88043C;
	color: white;
	text-align: center;
	font-size: 1.0124rem;
	padding: 0.5rem 0;
}
@media (min-width: 1024px) {
	header{
		max-width: 1024px;
		margin: auto;
	}
}
/*<!--		banner-->*/
.banner img{
	display: block;
}
@media (min-width: 1024px) {
	.banner{
		max-width: 1024px;
		margin: auto;
	}
}
/*@media (min-width: 768px) {
	.banner{
		width: 980px;
		margin: auto;
	}
}*/
/*<!--		介绍-->*/
.jsao{
	padding-bottom: 1rem;
}
.jsao .topj{
	color: #a7114a;
	font-size: 0.84374rem;
	text-align: center;
	padding: 0.45rem 0;
}
.jsao .img{
	margin: 0 0.2rem;
	border: 1px solid #A7114A;
	border-radius:5px;
	font-size: 0;
	position: relative;
		margin-top: 0.5rem;
}
.jsao .img img{
	display: block;

}
.jsao .img p{
	position: absolute;
	width: auto;
	white-space: nowrap;
	left: 50%;
	transform: translateX(-50%);
	z-index: 99999;
	margin: auto;
	top: -0.672rem;
	background: #A7114A;
	padding: 0.35rem 0.5rem;
	border-radius:20px;
	font-size: 0.84374rem;
	font-weight: bold;
	color: white;
}
.jsao .txt{
	text-indent: 2em;
	margin:0.25rem;
	color: #666666;
	font-size: 0.84374rem;
}
.jsao ul{
	margin: 0 0.25rem;
}
.jsao ul li{
	float: left;
	width: 49%;
}
.jsao ul li:nth-child(1){
	margin-right: 2%;
}
@media (min-width: 1024px) {
	.jsao{
		max-width: 1024px;
		margin: auto;
	}
	
}
/*@media (min-width: 768px) {
	.jsao{
		width: 980px;
		margin: auto;
	}
.jsao .topj{
	font-size: 20px;
}
.jsao .img p{
	position: absolute;
		font-size: 14px;
	}
	.jsao .txt{
		text-indent: 2em;
		margin:5px;
		color: #666666;
		font-size: 20px;
	}
	.jsao ul{
		margin: 0 5px;
	}
	.jsao ul li{
		float: left;
		width: 49%;
	}
	.jsao ul li:nth-child(1){
		margin-right: 2%;
	}
}*/




/*<!--		说明-->*/
.suoming{
	background-color:#FDF2CF;
}
.suoming .one{
	text-align: center;
	color: #88043c;
	font-size: 0;
	background: url(../img/ds05.png) no-repeat 0 0;
	background-size:100% 100%;
}
.suoming .one span{
	display: inline-block;
	font-size: 1.124rem;
	font-weight: bold;
	padding:0.18rem 0.5rem;
	margin: 5px;
	background: url(../img/ds06.png) no-repeat center center;
	background-size:100% 100%;
}
.suoming .text{
	color: #666666;
	font-size: 0.84374rem;
	margin: 0.2rem;
}
.suoming .text span{
	color: #795126;
	font-weight: bold;
}
.suoming ul{
	margin: 0 0.2rem;
}
.suoming ul li{
	float: left;
}
.suoming ul .img{
	width: 45%;
	margin-right: 1%;
}
.suoming ul .mp{
	width: 54%;
	color: #666666;
	font-size: 0.8437rem;
}
.suoming .zj{
	text-align: center;
	background: #784D1F;
	color: #fef9e7;
	padding: 0.5rem 0.5rem;
	font-size: 0.84374rem;
	font-weight: bold;
}
@media (min-width: 1024px) {
	.suoming{
		max-width: 1024px;
		
		margin: auto;
	}
}
/*@media (min-width: 768px) {
	.suoming{
		width: 980px;
		margin: auto;
	}
	.suoming .one span{
		font-size: 20px;
	}
	.suoming .text{
		font-size: 20px;
	}
	.suoming ul .mp{
		font-size: 20px;
	}
	.suoming ul .img{
		width: 20%;
	}
	.suoming ul .mp{
		width: 75%;
	}
	.suoming .zj{
		font-size: 20px;
	}
}*/

/*<!--		帮助-->*/
.help{
	
}
.help .head{
	text-align: center;
	font-size: 0;
}
.help .head span{
	display: inline-block;
	font-size: 1.124rem;
	color: #88043c;
	font-weight: bold;
	padding: 0.2rem;
	margin: 0.5rem;
	background: url(../img/ds09.png) no-repeat 0 0;
	background-size:100% 100%;
}
.help p{
	color: #666666;
	font-size: 0.84374rem;
	
	margin:0 0.2rem 0.5rem 0.2rem;
}
.help .jienan{
	margin: 0 0.2rem;
}
@media (min-width: 1024px) {
	.help{
		max-width: 1024px;
		margin: auto;
	}
}
/*@media (min-width: 768px) {
	.help{
		width: 980px;
		margin: auto;
	}
	.help .head span{
		font-size: 20px;
	}
	.help p{
		font-size: 20px;
	}
}*/

/*<!--		拯救-->*/
.zengjiu{
	background: #970B46;
	color: #ffffff;
	box-shadow:inset 0 -0.2rem 0.2rem #69012D,
					inset 0 0.2rem 0.2rem #69012D;
}
.zengjiu .hy{
	font-size: 1.124rem;
	font-weight: bold;
	text-align: center;
	padding: 0.5rem 0;
}
.zengjiu .nl{
	margin: 0 0.2rem;
	text-align: center;
	font-size: 0.8437rem;
	
}
.zengjiu ul{
	margin: 0.5rem 0;
}
.zengjiu ul li{
	padding: 0.2rem;
}
.zengjiu ul li div{
	float: left;
}
.zengjiu ul li:nth-child(odd){
	background: #BD135B;
}
.zengjiu ul li .tu{
	width: 35%;
	margin-right: 2%;
}
.zengjiu ul li .tu img{
	display: block;
}
.zengjiu ul li .wz{
	width: 63%;
}
.zengjiu ul li .wz img{
	display: inline-block;
	vertical-align: middle;
	width: 0.33rem;
	margin-right: 0.5rem;
}
.zengjiu ul li .wz .gx{
	font-size: 1.0124rem;
	font-weight: bold;
}
.zengjiu ul li .wz .ym{
	margin-top: 0.2rem;
	color: #fbdeeb;
	font-size: 0.84374rem;
}
.zengjiu .zoje{
	margin:0 0.2rem;
	padding: 0.2rem 0;
	padding-bottom: 1rem;
	font-size: 0.84374rem;
}
@media (min-width: 1024px) {
	.zengjiu{
		max-width: 1024px;
		margin: auto;
	}
}
/*@media (min-width: 768px) {
	
	.zengjiu{
		width: 980px;
		margin: auto;
	}
	.zengjiu .hy{
		font-size: 20px;
	}
	.zengjiu .nl{
		font-size: 20px;
	}
	.zengjiu ul li .wz .gx{
		font-size: 20px;
	}
	.zengjiu ul li .wz .ym{
		font-size: 20px;
	}
	.zengjiu .zoje{
		font-size: 20px;
	}
}*/


/*<!--		选择-->*/
.xuanz{
	background: #BD135B;
}
.xuanz .ssu{
	background: url(../img/ds16.png) no-repeat center center;
	background-size:100% 100%;
	background-color:white;
	text-align: center;
	font-size: 0;
	padding: 0.7rem 0;
}
.xuanz .ssu span{
	display: inline-block;
	font-size: 1.1812rem;
	color: #88043c;
	font-weight: bold;
	padding: 0.2rem 1rem;
	background: url(../img/ds15.png) no-repeat center center;
	background-size:100% 100% ;
}
.xuanz ul li .bti{
	text-align: center;
	color: #fdf2cf;
	font-size: 1.1024rem;
	font-weight: bold;
	padding: 0.5rem 0;
}
.xuanz ul li .anl{
	padding: 0 0.2rem;
	position: relative;
}
.xuanz ul li .anl div{
	position: absolute;
	top: 0.5rem;
	right: 0.4rem;
	z-index: 99999;
	background: #F8F8DE;
	border: 1px solid #E7BDCE;
	text-align: center;
	border-radius:0.2rem;
}
.xuanz ul li .anl div p{
	color: #bd135b;
	font-size: 0.6749rem;
	font-weight: bold;
}
.xuanz ul li .anl div span{
	color: #bd135b;
	font-size: 0.6749rem;
}
.baco{
	background: #69012D;
}
/*@media (min-width: 768px) {
	.xuanz{
		width: 980px;
		margin: auto;
	}
	.xuanz .ssu span{
		font-size: 20px;
	}
	.xuanz ul li .bti{
		font-size: 20px;
	}
	.xuanz ul li .anl div p{
		font-size: 16px;
	}
	.xuanz ul li .anl div span{
		font-size: 16px;
	}
	.xuanz ul li .anl div{
		height: 50px;
	}
}*/
@media (min-width: 1024px) {
	.xuanz{
		max-width: 1024px;
		margin: auto;
	}
}
		
/*<!--		现场-->*/
.xianc{
	background: #FDF2CF;
}
.xianc .hea{
	text-align: center;
	font-size: 0;
	padding: 0.2rem 0;
	background: url(../img/ds29.png) no-repeat center center;
	background-size:100%;
}
.xianc .hea span{
	display: inline-block;
	background: url(../img/ds27.png) no-repeat center center;
	background-size:100% 100%;
	font-size: 1.1824rem;
	color: #5b2d00;
	font-weight: bold;
	padding: 0.2rem 2rem;
}
.xianc .zft{
	margin:0 0.2rem;
}
.xianc .zft img{
	display: block;
}
.xianc .tx{
	font-size: 0.84374rem;
	color: #333333;
	padding: 0.2rem;
	padding-bottom: 1rem;
	background: url(../img/ds30.png) no-repeat 0 100%;
	background-size:100% auto;
}
.xianc .pt img{
	display: block;
}
.xianc .lat{
	font-size: 0.84374rem;
	color: #333333;
	padding: 0.2rem;
	padding-bottom: 0.2rem;
}
@media (min-width: 1024px) {
	.xianc{
		max-width: 1024px;
		margin: auto;
	}
}
/*@media (min-width: 768px) {
	.xianc{
		width: 980px;
		margin: auto;
	}
	.xianc .hea span{
		font-size: 20px;
	}
	.xianc .tx{
		font-size: 20px;
	}
	.xianc .lat{
		font-size: 20px;
	}
}*/


/*<!--		立即预约-->*/
.yyue{
	
}
.yyue .bat{
	font-size: 0;
	background: url(../img/ds32.png) no-repeat center center;
	background-size:100% 100%;
	text-align: center;
	padding: 0.5rem 0;
}
.yyue .bat span{
	display: inline-block;
	font-size: 1.0124rem;
	color: #88043c;
	font-weight: bold;
}
.yyue form{
	margin:0 1rem;
	padding: 0.75rem 0;
	background: url(../img/ds33.png) no-repeat center center;
	background-size:100% 100%;
	margin-bottom: 20px;
}
.yyue form .sr{
	width: 90%;
	margin:0.5rem auto;
	font-size: 0;
	padding: 0;
}
.yyue form .sr .ts{
	display: inline-block;
	vertical-align: middle;
	width:30%;
	color: #824b16;
	font-size: 0.73124rem;
	text-align: right;
	margin-right: 2%;
}
.yyue form .sr input{
	display: inline-block;
	vertical-align: middle;
	width: 60%;
	padding: 0.3rem 0;
	outline: none;
	color: #333333;
	font-size: 0.73124rem;
	text-indent: 2em;
	background: #FBF8EC;
	border: 1px solid #E9DFBA;
}
.yyue form .sr input::-moz-placeholder{
	color: #333333;
}
.yyue form .sr input::-ms-input-placeholder{
	color: #333333;
}
.yyue form .sr input::-webkit-input-placeholder{
	color: #333333;
}
.yyue form .xb{
	color: #824b16;
}
.yyue form .xb input{
	width: auto;
}
.yyue form .xb span{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.73124rem;
	color: #824b16;
}
.yyue form .rig{
	margin-right: 0.5rem;
}
.yyue form .liji{
	text-align: center;
	font-size: 0;
}
.yyue form .liji button{
	border: none;
	background-color:none;
	font-size: 0.8rem;
	color: white;
	padding: 0.5rem;
	background: url(../img/ds34.png) no-repeat center center;
	background-size:100% 100%;
	margin-left: 10%;
	margin-top: 1rem;
}
.yyue form p{
	text-align: center;
	margin: 0.2rem 0;
	color: #824b16;
	font-size: 0.674rem;
}
@media (min-width: 1024px) {
	.yyue{
		max-width: 1024px;
		margin: auto;
	}
}
/*@media (min-width: 768px) {
	.yyue{
		width: 980px;
		margin: auto;
	}
	.yyue .bat span{
		font-size: 20px;
	}
	.yyue form .sr .ts{
		font-size: 20px;
	}
	.yyue form .sr input{
		font-size: 20px;
	}
	.yyue form .xb span{
		font-size: 20px;
	}
	.yyue form .liji button{
		font-size: 20px;
	}
	.yyue form p{
		font-size: 20px;
	}
}*/



/*<!--		渡劫-->*/
.erwei{
	background: #BD135B;
	padding: 1rem;
}
.erwei .ma{
	float: left;
	width: 40%;
	margin-right: 3%;
}
.erwei .rigtxt{
	float: left;
	width: 57%;
}
.erwei .ma p{
	text-align: center;
	font-size: 0.674rem;
	color: #f9abcc;
	background: #69012D;
	border: 1px solid black;
	border-radius:0.15rem;
	padding: 0.2rem 0;
}
.erwei .rigtxt .add{
	font-size: 0.956rem;
	font-weight: bold;
	color: white;
}
.erwei .rigtxt .hs{
	color: #fbdbe9;
	font-size: 0.6745rem;
	margin: 1rem 0;
}
@media (min-width: 1024px) {
	.erwei{
		max-width: 1024px;
		margin: auto;
		padding: 1rem 0;
	}
}
/*@media (min-width: 768px) {
	.erwei{
		width: 980px;
		margin: auto;
		padding: 0;
	}
	.erwei .rigtxt .add{
		font-size: 20px;
	}
	.erwei .rigtxt .hs{
		font-size: 16px;
	}
	.erwei .ma p{
		font-size: 16px;
	}
}*/


/*<!--		底部-->*/
footer{
	background: #46021F;	
}
footer ul{
	padding: 0.5rem 0;
}
footer ul li{
	float: left;
	width: 33.33333%;
	text-align: center;
	padding: 0.2rem 0;
	position: relative;
}
footer ul li:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 1px;
	background: #790F3C;
	z-index: 99999;
}
footer ul li:last-child:before{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 0;
	background: #790F3C;
	z-index: 99999;
}
footer ul li a{
	display: block;
	color: white;
	font-size:0.8rem;
}
@media (min-width: 1024px) {
	footer{
		max-width: 1024px;
		margin: auto;
	}
}
/*@media (min-width: 768px) {
	footer{
		width: 980px;
		margin: auto;
	}
	footer ul li a{
		display: block;
		color: white;
		font-size: 20px;
	}
}*/